body{
  font-family: 'Nunito', sans-serif;
  padding: 0;
  gap:0;
  box-sizing: border-box;
  margin:0;
  vertical-align: top;
}
*{
  margin:0;
  padding:0;
}



/*Barra navegacion desig*/
.navbar-custom {
    background-color: #242526; /* Dark gray background */
    padding: 1rem; /* Add some padding for spacing */
    display: flex;
    justify-content: space-between;
}

.navbar-custom-banner{
  color: #ffffff;
  padding: 0.5rem 1rem; /* Add padding around the links */
  padding-right: 5rem;
}

.navbar-custom li{
  display: inline-block;
}

/* Style for navigation links */
.navbar-custom a {
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underlines */
    padding: 0.5rem 1rem; /* Add padding around the links */
    display: inline-block; /* Display as block elements */
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Hover effect for navigation links */
.navbar-custom a:hover {
    color: #ffcc00; /* Yellow text color on hover */
}

/* Active link style (when the page is active) */
.navbar-custom a.active {
    font-weight: bold; /* Make the active link bold */
}

/* Spacing between navigation items */
.navbar-custom li {
    margin-right: 1rem; /* Adjust spacing as needed */
}

/* Banner design for products components */
.cardMetadata {
  display: flex;
  flex-direction: column;
}
.cardBlock{
  display: flex;
  flex-direction: row;
}

.cardContainerButtons {
  display: flex;
  gap: 10px;
}

.cardContainerButtons button{
  background-color: transparent;
  border-color: transparent;
  scale: 1.2;
}

.cardContainerButtons button:hover{
  transform: scale(1.5);
}

.cardContainerButtons button:active{
  transform: scale(1.05);
}

.card{
  display: flex;
  justify-content:space-between;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  margin: 20px 300px 20px 300px;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.cardBlock img{
  top: 10px;
  left: 15px;
  max-height: 80px;
}


/*Design for home page*/
.Home{
  display:flex;
  flex-direction: column;
  padding: 4% 20%;
  background-size: cover;
  height: 100%;
  min-height: 560px;
  }

.Home p{
  padding: 10px;
}

.Home li{
  padding: 4px;
}

/* Base styles for the form */
form {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Adjust width as necessary */
  margin: 40px auto;
  font-family: 'Arial', sans-serif;
}

/* Style for form elements */
form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in width */
}

form textarea {
  height: 100px;
  resize: vertical; /* Allow vertical resizing only */
}

/* Styling for buttons */
form button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; /* Space between buttons */
}

form button[type="submit"] {
  background-color: #2d2d2d;
  color: white;
}

form button[type="button"] { /* Delete button styling */
  background-color: #dc3545;
  color: white;
}

form button:hover {
  opacity: 0.9;
}


/* styles.css */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  color: black;
}

table tr:nth-child(even) {background-color: #f9f9f9;}

table tr:hover {background-color: #ddd;}

/*Inventario departamento*/
#incrementar{
  cursor: pointer;
  background-image: linear-gradient();
} 
#incrementar:hover{
  background-color: #000b02;
  color: white;
} 

#decrementar{
  cursor: pointer;
}
#decrementar:hover{
  background-color: #000b02;
  color: white;
}

.guardar{
  padding: 4px 5px;
  background-color: #000b02;
  color: #ddd;
  font-size: 1rem;
  border: 3px solid rgb(240, 240, 242);
  border-radius: 10px 10px 10px 10px;
  transition:0.5s;
  cursor: pointer;
}
.guardar:hover{
  background-color: rgb(248, 248, 248);
  color: black;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
}

.section-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.item-stock {
  font-size: 1rem;
  padding-right: 7px;
  padding-left: 7px; 
}

.Button-incdec{
  display:flex
}

.caja-dptoinv{
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 3px solid rgb(48, 48, 68);
  border-radius: 10px 10px 10px 10px;
}

.dptoinv{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 10px;
  align-items: center;
}

.header-dpto{
  padding-top: 10px;
}

.img-inv{
  float:center;
  padding-top: 20px;
}
/* boton producto esconder */
/* Botón base */
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto al hacer clic en el botón */
button:active {
  background-color: #004494;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de ocultar formulario */
button.ocultar-formulario {
  background-color: #dc3545;
}

button.ocultar-formulario:hover {
  background-color: #c82333;
}

button.ocultar-formulario:active {
  background-color: #bd2130;
}

/* Estilo para el botón de agregar producto */
button.agregar-producto {
  background-color: #28a745;
}

button.agregar-producto:hover {
  background-color: #218838;
}

button.agregar-producto:active {
  background-color: #1e7e34;
}

/* Estilo para posicionar el botón en la esquina superior derecha */
.button-container {
  position: relative;
}
.button-container button {
  position: absolute;
  top: 10px;
  right: 40px;
}

/* Estilos para los botones en Product.js */
.update-button, .delete-button {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.update-button {
  background-color: #4CAF50; /* Verde */
  color: rgb(0, 0, 0);
}

.update-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336; /* Rojo */
  color: rgb(0, 0, 0);
}

.delete-button:hover {
  background-color: #da190b;
}


.titulo-productos {
  text-align: center;
  font-size: 2.5rem; /* Tamaño de fuente grande */
  color: #333; /* Color del texto */
  margin-bottom: 20px; /* Espacio debajo del título */
  font-family: 'Arial', sans-serif; /* Familia de fuentes */
}


