body{
  font-family: 'Nunito', sans-serif;
  padding: 0;
  gap:0;
  box-sizing: border-box;
  margin:0;
  vertical-align: top;
}
*{
  margin:0;
  padding:0;
}



/*Inventario departamento*/
#incrementar{
  cursor: pointer;
  background-image: linear-gradient();
} 
#incrementar:hover{
  background-color: #000b02;
  color: white;
} 

#decrementar{
  cursor: pointer;
}
#decrementar:hover{
  background-color: #000b02;
  color: white;
}

.guardar{
  padding: 4px 5px;
  background-color: #000b02;
  color: #ddd;
  font-size: 1rem;
  border: 3px solid rgb(240, 240, 242);
  border-radius: 10px 10px 10px 10px;
  transition:0.5s;
  cursor: pointer;
}
.guardar:hover{
  background-color: rgb(248, 248, 248);
  color: black;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
}

.section-heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.item-stock {
  font-size: 1rem;
  padding-right: 7px;
  padding-left: 7px; 
}

.Button-incdec{
  display:flex
}

.caja-dptoinv{
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 3px solid rgb(48, 48, 68);
  border-radius: 10px 10px 10px 10px;
}

.dptoinv{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 10px;
  align-items: center;
}

.header-dpto{
  padding-top: 10px;
}

.img-inv{
  float:center;
  padding-top: 20px;
}

