/*Barra navegacion desig*/
.navbar-custom {
    background-color: #303130; /* Dark gray background */
    /* padding: 1rem; Add some padding for spacing */
    justify-content: space-between;
}

.navbar-custom-banner{
  color: #ffffff;
  padding: 0.5rem 1rem; /* Add padding around the links */
  padding-right: 5rem;
}

.navbar-custom li{
    display: inline-block; 
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style for navigation links */
.navbar-custom a {
    color: #ffffff; /* White text color */
    text-decoration: none; /* Remove underlines */
    padding: 0.5rem 1rem; /* Add padding around the links */
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Hover effect for navigation links */
.navbar-custom a:hover {
    color: #adec4f; /* Yellow text color on hover */
}

/* Active link style (when the page is active) */
.navbar-custom a.active {
    font-weight: bold; /* Make the active link bold */
}

/* Spacing between navigation items */
.navbar-custom li {
    margin-right: 1rem; /* Adjust spacing as needed */
}

.home-section img {
    width: 150px;
    margin-top: 5px;
  }
  
  .home-section img:hover {
    box-shadow: 0 0 2px 1px rgba(249, 248, 248, 0.5);
    border-radius: 5px;
  }
.home-section{
    background-color: #222322;
    width: 100%;
    height: 100%;
}