/* Botón base */
button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
  }
  
  /* Estilo para el botón de ocultar formulario */
  button.ocultar-formulario {
    background-color: #dc3545;
  }
  
  button.ocultar-formulario:hover {
    background-color: #c82333;
  }
  
  button.ocultar-formulario:active {
    background-color: #bd2130;
  }
  
  /* Estilo para el botón de agregar producto */
  button.agregar-categoria {
    background-color: #126b27;
  }
  
  button.agregar-categoria:hover {
    background-color: #4CAF50;
  }
  
  button.agregar-categoria:active {
    background-color: #126b27;
  }
  
  /* Estilo para posicionar el botón en la esquina superior derecha */
  .button-container {
    position: relative;
    top: 40px;
    padding-bottom: 50px;
  }
  .button-container button {
    position: absolute;
    right: 40px;
  }
  
  button.ocultar-formulario {
    background-color: #dc3545;
  }
  
  button.ocultar-formulario:hover {
    background-color: #c82333;
  }
  
  button.ocultar-formulario:active {
    background-color: #bd2130;
  }
  
  .titulo-categorias {
    background-color: #74c54b;
    color: white;
    margin-top: 0%;
    height: 50px;
    align-content: center; 
  }

  