body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.titulo-moviminetoInventario {
  background-color: #74c54b;
  color: white;
  margin-top: 0%;
  height: 50px;
  align-content: center;
}

.movimiento-form {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.movimiento-form div {
  margin-bottom: 15px;
}

.movimiento-form label {
  display: block;
  margin-bottom: 5px;
}

.movimiento-form input,
.movimiento-form select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  
}

.checkbox-container input[type="checkbox"] {
  display:flexbox;
  width: fit-content;

  
}

.movimiento-form button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.movimiento-form button:hover {
  background-color: #45a049;
}

.movimientos-table-container {
  width: 80%;
  margin: 20px auto;
}

.movimientos-table {
  width: 100%;
  border-collapse: collapse;
}

.movimientos-table th,
.movimientos-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.movimientos-table th {
  background-color: #f2f2f2;
}

.movimientos-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.movimientos-table tbody tr:hover {
  background-color: #ddd;
}


/* Botón base */
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto al hacer clic en el botón */
button:active {
  background-color: #004494;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón de ocultar formulario */
button.ocultar-formulario {
  background-color: #dc3545;
}

button.ocultar-formulario:hover {
  background-color: #c82333;
}

button.ocultar-formulario:active {
  background-color: #bd2130;
}

/* Estilo para el botón de agregar producto */
button.agregar-movimiento {
  background-color: #126b27;
}

button.agregar-movimiento:hover {
  background-color: #4CAF50;
}

button.agregar-movimiento:active {
  background-color: #126b27;
}

/* Estilo para posicionar el botón en la esquina superior derecha */
.button-container {
  position: relative;
  margin-bottom: 20px;  /* Ajusta el margen inferior para mover el botón hacia arriba */
}

.button-container button {
  position: absolute;
  top: -45px;
  right: 40px;
}

button.ocultar-formulario {
  background-color: #dc3545;
}

button.ocultar-formulario:hover {
  background-color: #c82333;
}

button.ocultar-formulario:active {
  background-color: #bd2130;
}

/*css tabla*/
/* .container{
  width: 800px;
  height: auto;
  background-color: rgb(118, 118, 118);
  margin-left: 25%;
  margin-top: 80px;
  
}
.title{
  background:rgb(81, 78, 78);
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;

}
.panel{
  text-align: center;
} */
.container {
  width: 800px;
  height: auto;
  justify-content: space-between; 
  background-color: white; /* Light blue background */
  margin-left: 25%;
  margin-top: 80px;
  
  /*box*/
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  
}

.panel {
  background-color: #303130; /* Dark blue background #74bcfe*/
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  flex: 1;
  text-align: center;

  /*title*/
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.body{
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #ebebeb; /* Change the color here */
}




